# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/
.env/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Model files
# =========================
*.h5
*.ckpt
*.pt
*.pth
*.onnx

# =========================
# Data (if any)
# =========================
data/
datasets/

# =========================
# IDEs
# =========================
.vscode/
.idea/